<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.eeft.find" version="1.0.33" 
	xmlns="http://apache.org/cordova/ns/plugins/1.0" 
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>Find</name>
	<description>Cordova plugin for detect root for Android, iOS.</description>
	<license>MIT</license>
	<keywords>cordova,root,detect</keywords>


	<js-module name="Finder" src="www/Finder.js">
		<clobbers target="cordova.plugins.Finder" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="Finder">
				<param name="android-package" value="cordova.eeft.find.Finder" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml" />
		<source-file src="src/android/Finder.java" target-dir="src/Neux/cordova/Finder/Finder" />
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="RootDetection">
				<param name="ios-package" value="RootDetection" />
			</feature>
		</config-file>
		<header-file src="src/ios/RootDetection.h" />
		<source-file src="src/ios/RootDetection.m" />
	</platform>
</plugin>
